body{
    background-image: url(admin2.jpg);
    position: absolute;
    background-position: cover;
}
.box{
    width: 700px;
    height: 350px;
    border: 2px solid rgb(197, 18, 18);
    top: -75%;
    left: -75%;
    position: absolute;
    transform: translate(75%,75%);
    border-radius: 13px;
    background-color: white;
    opacity: .6;
}
.haed p{
    text-transform: uppercase;
    font-weight: 800;
    text-align: center;
    font-size: 30px;
    background-color: black;
    color: white;
    opacity: .6;
}
.left img{
width: 200px;
height: 220px;
}
.right input[type="button"]{
    position: absolute;
    background: none;
    outline: none;
    border-radius: 7px;
    text-align: center;
    width: 280px;
    height: 35;
    margin-left: 30%;
    margin-top: -160px;
    border:2px solid black;
    background-color: rgb(6, 109, 226);
    color: black;
    font-weight: 600;
    cursor: pointer;
}
.right input[type="button"]:hover{
    background-color: rgba(40, 3, 78, 0.692);
    color: black;
    font-weight: 700;
}