body{
    background-image: url(admin3.jpg);
    position: absolute;
    background-size: cover;
}
.box{
    width: 700;
    height: 400;
    top: -50%;
    left: -50%;
    position: absolute;
    transform: translate(50%,50%);
    background-color: wheat;
    opacity: .8;
    border-radius: 8px;
    border: 2px solid black;
}
.haed p{
    text-transform: uppercase;
    font-weight: 800;
    text-align: center;
    font-size: 30px;
    background-color: black;
    color: white;
    opacity: .6;
}
.txt input[type="text"],.txt input[type="number"],.txt input[type="date"],.txt input[type="email"],{
   background: none;
   text-align: center;
   outline: none;
   background-color:black;
   opacity: .4;
   color: white;
   font-size:15px;
   border-radius:
   width:280px;
   height:35px;
   border-radius: 10px;
}
.txt span{
    font-size: 28px;
}
.txt2{
    margin-left: 50%;
    margin-top: -130px;
}
.txt2 input[type="text"],.txt2 input[type="number"]{
    background: none;
    text-align: center;
    outline: none;
    border-radius:;
    width: 140px;
    height: 15px;
    border-radius: 5px;
    color: white;
    background-color: rgba(7, 230, 37, 0.849);
    opacity: .4;
    font-size: 15px;
}
.txt2 span{
    font-size: 28px;
}
.txt3 span{
    font-size: 28px;
    margin-left: 130px;
    text-align: center;  
}
.txt3 input[type="text"]{
    background: none;
    text-align: center;
    outline: none;
    border-radius: ;
    width: 350px;
    height: 45;
    background-color: red;
    opacity: .4;
    color: white;
    border-radius: 10px;
    font-size: 15px;
}
.txt3 input[type="button"]{
    background: none;
    text-align: center;
    outline: none;
    border-radius: ;
    width: 90px;
    height: 30;
    font-size: 20px;
    margin-left: 300px;
    border-radius: 10px;
    background-color:blue;
    opacity: .5;
    color: white;
}
.txt3 input[type="button"]:hover{
    background-color: crimson;
    color: white;
}