body{
    background-image: url(admin1.jpg);
    position: absolute;
    background-size: cover;
}
.box{
    width: 400px;
    height: 550px;
    border: 2px solid black;
    margin-top: 20%;
    margin-left: 115%;
    border-radius: 13px;
    text-align: center;
    background-color: lawngreen;
    opacity: .6;
}
.login  input[text="text"],.login input[type="password"]{
    background: none;
    width: 250px;
    height: 28px;
    border-radius: 14px;
    outline: none;
    color: black;
    border-color: red;
    text-align: center;
    font-size: 20px;
    background-color: yellow;
}
.login p{
    font-weight: 800;
    font-size: 30px;
}
.submit input[type="submit"]{
    background: none;
    margin-top: 60px;
    line-height: 20px;
    height: 35px;
    width: 120px;
    border-radius: 14px;
    outline: none;
    color: black;
    border-color: red;
    text-align: center;
    font-size: 20px;
    background-color: orange;
    cursor: pointer;
}
.submit input[type="submit"]:hover{
    background-color: green;
    color: black;
    font-weight: 500;
}
.head p{
    text-transform: uppercase;
    font-size: 45px;
    font-weight: 800;
    background-color: black;
    color: white;
    opacity: .6;
}